{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}

<table>
<tr>
  <td>
    <div class:"sidebar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/smv">SMV</a></li>
            <li><a class="active" href="/fertility">Fertility</a></li>
        </ul>
    </div>
  </td>
  <td colspan="3" align="center" valign="top">
  <img src="{{url_for('static', filename='RPcalculations1.png')}}">
  </td>
</tr>
<tr>
  <td>
  </td>
  <td colspan="3" align="center" valign="top">
    <h1>Fertility</h1>
    
    <p>The goal is to determine the maximum number of children a
       woman could possibly have.</p>

    <p>Although this can help women to plan out when they should
       attempt to have children. This simulation was actually
       built so that men could more accurately set age limits
       for the women that they should pursue to have the family
       that they desire. For example, if a man wants to have 3
       children, then he should not date women over the age 34
       to have a good chance of that happening
       with a given woman (Assuming that she also want that).</p>

    <h1>Simulation</h1>
  </td>
</tr>

<body>
<div class="body-text">
  <tr>
    <td>
    </td>
    <td valign="top">
      <h2>Characteristics:</h2>
      <form method="post",  action="/fertility">
        <h4>Age:{{ form.age_f }}</h4>
        <h4>Months:{{ form.month }}</h4>
        <h4>Height:{{ form.height_f }}</h4>
        <h4>Weight:{{ form.weight_f }}</h4>
        <h4>End Year:{{ form.end_year }}</h4>
      <input type="submit">
    </form>
    </td>
    <td valign="top">
      <h2>Results</h2>
         <p>Children: {{ total_children }}</p>
         <p>Down Syndrome Children: {{ total_children_down_syndrome }}</p>
         <p>Miscarriages: {{ total_miscarriages }}</p>
         <p>Still Births: {{ total_still_births }}</p>
      <h2>Distribution of Children</h2>
          <table border="1">
           <tr><th>Children</th><th>Percent</th></tr>
           <tr><td>0</td><td>{{ r_0 }} %</td></tr>
           <tr><td>1</td><td>{{ r_1 }} %</td></tr>
           <tr><td>2</td><td>{{ r_2 }} %</td></tr>
           <tr><td>3</td><td>{{ r_3 }} %</td></tr>
           <tr><td>4</td><td>{{ r_4 }} %</td></tr>
           <tr><td>5</td><td>{{ r_5 }} %</td></tr>
           <tr><td>6</td><td>{{ r_6 }} %</td></tr>
           <tr><td>7</td><td>{{ r_7 }} %</td></tr>
           <tr><td>8</td><td>{{ r_8 }} %</td></tr>
           <tr><td>9</td><td>{{ r_9 }} %</td></tr>
           <tr><td>10+</td><td>{{ r_10 }} %</td></tr>
         </table>
      <p>{{ content }}</p>
    </td>
    <td valign="top">
      <h2>Description</h2>
      <p>This simulation determines the results of a woman attempting to have
         children over a specific interval. This simulation assumes that the
         woman will attempt to get pregnant consistently and without a break.
         Understandably, this is not completely reasonable. This assumption
         means that a woman will attempt to get pregnant right after every
         miscarriage.</p>

      <p>This is a statistical analysis exercised through computer
         simulation. Set the characteristics for a given scenario
         and click on the "Submit" button.</p>
    
      <p>This simulation will generate 1,000 women then simulate them
         attempting to have children month after month. The constraint
         of 1,000 women was set to improve response performance. With
         higher number, you get greater accuracy. If you want a simulation
         with 1 Million women, then contact me for a quote. For the
         general inquiry, 1,000 women is sufficient. The number are
         generally accurate to within 0.1 children.</p>
    </td>
  </tr>
</div>
</table>
    

{% endblock %}
