{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}

<div class="row">
  <div class="column">
    <div class:"sidebar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/smv">SMV</a></li>
            <li><a href="/fertility">Fertility</a></li>
        </ul>
    </div>
  </div>
  <div class="column">
  <img src="{{url_for('static', filename='RPcalculations1.png')}}">
  </div>
</div>
<div class="row">
  <div class="column">
  </div>
  <div class="column">
    <p>Welcome to RPcalculations. Here, underlying truths
    are revealed through statistical analysis and
    simulations.</p>

    <p>Do not expect to find anything comforting here.</p>
    <p>Knowledge does not bring happiness.</p>
    <p>Knowledge brings clarity and solace.</p>
  </div>
</div>


{{ content }}
{% endblock %}
